

.footer-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 30px 50px;
  box-sizing: border-box;
  height: 75px;
  
  a {
    text-decoration: none;

    h1 {
      font-size: 32px;
    }
  }
}