.splash-tagline {
  display: flex;
  background: linear-gradient(rgba(48, 57, 82, 0.25), $dark-color), url("https://images.pexels.com/photos/1162964/pexels-photo-1162964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  // background-image: linear-gradient(rgba(48, 57, 82, 0.75), $dark-color);
  background-size: cover;
  background-position: center;
  justify-content: center;
  // box-shadow: inset 0 0 0 1000px rgba(99, 206, 131, 0.5);
}

.splash-tagline-box {
  display: flex;
  flex-direction: column;
  margin: 8em 2em 7em 2em;
  width: 600px;
  align-items: center;
  text-align: center;
  color: #fff;

  h1 {
    font-size: 46px;
    line-height: 1.1em;
    font-weight: 400;
    padding: 0 0.5em 0;
  }

  p {
    font-size: 20px;
    line-height: 1.2em;
    margin: 1em 0 1em;
  }

  button {
    font-size: 1.2em;
    padding: 10px 0.5em 10px;
    color: darken(set-text-color($dark-color), 10%);
    transition: 0.1s;
    
    &:hover {
      color: $primary-color;
    }
  }

  a {
    color: rgb(225, 225, 225);
    margin: 1em 0 1em;

    &:hover{
      color: #fff;
    }

    &.session-button {
      width: 300px;
      background: $primary-color-dark;
      color: #fff;

      &:hover {
        background: lighten($primary-color-dark, 5%);
      }
    }
  }


}
