#subordinate-index {
  grid-row: 2;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 0;
  border: none;

  .back-button-div {
    border: none;
    margin-bottom: 8px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
  }

  .back-to-employees {
    font-size: 16px;
    font-weight: bold;
    opacity: 0.5;
    transition: 0.25s;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

}

.performance-data {
    background-color: white;

    .performance-page {
      border: none;
      padding: 0;

      .performance-page-label {
        border: none;
        padding: 0;
        font-size: 1em;
        text-align: justify;

        .performance-ls {
          border: none;
          padding: 0;
          width: 50%;
          display: inline-block;

          .negative {
            color: red;
          }

          .positive {
            color: rgb(0, 212, 0);
          }
        }

        .performance-ls2 {
          border: none;
          padding: 0;
          width: 50%;
          display: inline-block;
          text-align: right;

          .negative {
            color: red;
          }

          .positive {
            color: rgb(0, 212, 0);
          }
        }
      }

      .performance-page-chart {
        border: none;
        padding: 0;
      }
    }
  }

  .call-history-container {
    background-color: white;

    .stats-graph-title {
      border: none;
      margin-top: 7px;
    }

    .call-history-list {
      font-size: 16px;
      overflow: auto;
    }
  }
  
  .call-history-item-list {
    background: $primary-color;
    border-radius: 3px;
    color: set-text-color($primary-color);
    padding: 5px 10px;
    transition: 0.05s;
    overflow: auto;
    margin-bottom: 8px;

    &:nth-child(even) {
      background: $primary-color-dark;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    .history-item-div {
      border: none;
      transition: 0.05s;
      display: flex;
      justify-content: space-around;
      width: 70%;
    }
  }