.contact-page-container {
  position: absolute;
  // display: flex;
  justify-content: center;
  // background: linear-gradient(to bottom left, $primary-color-dark, lighten($primary-color, 20%));
  // background: linear-gradient(to top right, $dark-color, lighten($dark-color, 30%));
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(rgba(48, 57, 82, 0.25), lighten($dark-color, 30%)),
    url("https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
}

@media screen and (max-width: 1032px) {
  .contact-page-container {
    height: 150vh;
  }
}

.team-list {
  display: grid;
  width: 80vw;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 25px;
  margin: auto;
  margin-top: 9em;
}

.team-member {
  width: 350px;
  display: flex;
  background: white;
  border-radius: 4px;
  padding: 25px;
  margin: auto;

  h3 {
    font-size: 20px;
    padding-bottom: 0.4em;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 75px;
  }

  .logo-div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 175px;
  }

  .github-image {
    object-fit: cover;
    height: 75px;
    width: 75px;
    opacity: 0.6;

    &:hover {
      opacity: 0.9
    }
  }

  .linkedin-image {
    height: 74px;
    width: 80px;
    opacity: 0.6;

    &:hover {
      opacity: 0.9
    }
  }
}
