.dashboard-index-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
  max-height: 100vh;

  .dashboard-index-section {
    background: #FFFFFF;
    border-radius: 2px;
    padding: 20px;

    .dashboard-index-section-title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }
}

.scroll-list {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .scroll-list-item {
    background: $primary-color;
    border-radius: 2px;
    color: set-text-color($primary-color);
    transition: 0.05s;
    margin-bottom: 5px;

    &:nth-child(even) {
      background: $primary-color-dark;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }
}

.dashboard-index-employees-container { 
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  // max-height: 100%;
  
  .dashboard-index-employees-list {
    max-height: 80%;
    font-size: 18px;

    .employee-list-item {
      padding: 5px 10px;
    }
  }
}

.dashboard-index-call-history-container { 
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  // max-height: 100%;
  
  .dashboard-index-call-history-list {
    max-height: 100%;
    font-size: 16px;

    .call-history-list-item {
      padding: 5px 5px;

      .history-item-div {
        display: flex;
        justify-content: space-between;
        width: 90%;
      }
    }
  }
}