.dashboard-index-stats-container {
  background: $light-color;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1em;
  padding: 0;
  padding-right: 1em;
  box-sizing: border-box;
  text-align: center;
    
  [class^="dashboard-index-stats-graph-"] {
    background: #fff;
    border: 1px solid darken($light-color, 5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    }
    
    .stats-graph-title {
      border: none;
      margin-bottom: 20px;
    }

    .top-right {
      height: 300px;
      overflow: auto;
      border: none;
      font-size: 0.8em;
      margin-top: 15px;

      canvas {
        margin-bottom: 40px;
      }

      canvas:first-of-type {
        margin-bottom: 100px;
        padding-top: 10px;
      }
    }
  }

.dashboard-index-stats-graph-pie {
  grid-column: 1 / 2;
  padding: 0;

  .stats-graph-title-one {
    padding: 0;
    border: none;
    margin-top: 20px;
    height: 20%;
  }

  .piechart {
    padding: 0;
    padding-right: 20px;
    border: none;
    height: 80%;
    margin-bottom: 20px;
  }
}

.dashboard-index-stats-graph-bar {
  grid-column: 2 / 3;
}
