.dashboard-sidebar-container {
  position: fixed;
  width: 25vw;
  height: 100vh;
  background: $primary-color;
}

.dashboard-sidebar {
  position: fixed;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  color: set-text-color($primary-color);
}

.dashboard-home-link {
  text-decoration: none;
  margin-bottom: 0.5em;
  
  h1 {
    font-size: 40px;
    color: set-text-color($primary-color);
  }
}

.welcome-message {

}

.dashboard-sidebar-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 1em 2em 1em;
  
  .dashboard-sidebar-nav {
    width: 100%;

    li {
      width: 18vw;
      font-size: 18px;
      line-height: 1.5em;
      margin-bottom: 12px;
      
      a, button {
        width: 10vw;
        border: none;
        border-radius: 1.5px;
        padding: 6px 0 6px 10px;
        padding-right: 2vw;
        margin: 0;
        background: rgba(255, 255, 255, 0.2);
        color: set-text-color($primary-color);
        transition: 0.1s;

        &:hover {
          padding-right: 3vw;
          background: rgba(255, 255, 255, 0.3);
          cursor: pointer;
        }
      }
      
      a {
        text-decoration: none;
      }
    }
  }
}