.dashboard-index-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 1em;
  max-height: 100%;
  box-sizing: border-box;
  padding-right: 1em;
  
  div {
    border-radius: 3px;
    
    h1 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }

  .managers-div {
    display: flex;
    justify-content: space-around;
    border: none;
  }
}

.dashboard-index-employees-container { // edit 
  background: #fff;
  border: 1px solid darken($light-color, 5%);
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  min-width: 0;
  max-height: 65%;
  padding: 20px;
  box-sizing: border-box;
  
  .dashboard-index-employees-list {
    font-size: 18px;
    overflow: auto;

    .employee-list-item {
      background: $primary-color;
      border-radius: 2px;
      color: set-text-color($primary-color);
      padding: 5px 10px;
      transition: 0.05s;

      &:nth-child(even) {
        background: $primary-color-dark;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}

.dashboard-index-call-history-container { // edit
  background:#fff;
  border: 1px solid darken($light-color, 5%);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  max-height: 100%;
  padding: 20px;
  margin-bottom: 1em;
  box-sizing: border-box;
  
  .dashboard-index-call-history-list {
    font-size: 16px;
    overflow-y: scroll;
    max-height: 100%;

    .call-history-list-item {
      background: $primary-color;
      border-radius: 3px;
      color: set-text-color($primary-color);
      padding: 5px 5px;
      transition: 0.05s;
      margin-bottom: 8px;

      &:nth-child(even) {
        background: $primary-color-dark;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }

      .history-item-div {
        display: flex;
        justify-content: space-between;
        width: 80%;
        border: none;
      }
    }
  }
}