.dashboard-index-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;

  div {
    border: 1px solid darken($light-color, 5%);
    border-radius: 2px;
    padding: 20px;

    h1 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }

  .dashboard-index-stats-container {
    background: lightblue;
    grid-row: 1;
    grid-column: 1 /3;
    min-width: 1000px;
    padding: 0;
    text-align: center;

    .dashboard-index-stats-graph {
      width: 45%;
      min-width: 450px;
      display: inline-block;
      padding: 5px;
      margin: 15px 20px;
      border: none;

      h6 {
        margin-top: 4px;
      }

      canvas {
        background-color: white;
        border-radius: 10px;
        min-width: 400px;
        min-height: 300px;
        padding: 5px;
      }
    }
  }
}

.dashboard-index-employees-container {
  background: #fff;
  grid-row: 2;
  grid-column: 1 / 2;
  
  .dashboard-index-employees-list {
    font-size: 18px;
    overflow: auto;

    .employee-list-item {
      background: $primary-color;
      border-radius: 2px;
      color: set-text-color($primary-color);
      padding: 5px 10px;
      transition: 0.05s;

      &:nth-child(even) {
        background: $primary-color-dark;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }

}

.dashboard-index-something-container {
  background: lightyellow;
  grid-row: 2;
  grid-column: 2 / 3;
}