.employee-page-container {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  h1 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 18px;
  }
}