.employee-page-container {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1em;

  div {
    border-radius: 3px;
    padding: 20px;
    // border: 
  }

  h1 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 18px;
  }
}

.employee-info-container {
  grid-row: 1 / 3;
  background: #fff;
  border: 1px solid darken($light-color, 5%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .employee-profile-pic {
    width: 180px;
    height: 180px;
    border: 1px solid $light-color;
    border-radius: 90px;
  }

  section {
    padding: 0 0 0 20px;
    line-height: 1.5em;

    h1 {
      font-size: 30px;
    }
  
    h2 {
      font-size: 18px;
    }

  }
}

.employee-call-stats-container {
  grid-row: 3 / 6;
}