.speech-record-container {
  width: 80%;
  height: 50vw;
  margin: auto;
  margin-top: 5vw;
  border: none;
  border-radius: 3px;

  background: #fff;
}

.speech-record-box {
  padding: 25px;
  
  h1 {
    font-size: 36px;
    color: set-text-color(#fff);
  }

  button {
    margin: auto;
  
  }
}
