// Variables

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

$body-bg: #fff;
$montserrat: 'Montserrat', sans-serif;

$primary-color: rgba(99, 206, 131, 1);
$primary-color-dark: rgba(65, 191, 102, 1);
$secondary-color: #fff;
$light-color: #f4f4f4;
$dark-color: rgba(48, 57, 82, 1);
$alert-color: rgba(235, 90, 70, 1);
